
# Tugas 5 | *K-Means Clustering* Data Bunga Iris

### Implementasi pada Kode Python

Import library penting yang dibutuhkan.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn import preprocessing
import sklearn.cluster as cluster
import sklearn.metrics as metrics
from sklearn.preprocessing import MinMaxScaler

Mengambil informasi data file CSV (Iris.csv)

In [ ]:
Data_Iris = pd.read_csv("https://raw.githubusercontent.com/ApoorvRusia/Naive-Bayes-classification-on-Iris-dataset/master/iris.csv")

Menampikan/membaca dataset Iris.

In [ ]:
Data_Iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Mengetahui jumlah baris dan kolom yang ada pada dataframe tersebut.

In [ ]:
Data_Iris.shape

(150, 5)

Melakukan normalisasi nilai Min-Max.

In [ ]:
scaler = MinMaxScaler()

Mentransformasikan data dari 2 kolom (Panjang Sepal dan Lebar Sepal). Kemudian, menampilkannya ke dalam dataframe dengan mengambil baris 5 teratas.

In [ ]:
scale = scaler.fit_transform(Data_Iris[['sepal_length','sepal_width']]);
iris_scale = pd.DataFrame(scale, columns = ['Sepal Length','Sepal Width']);
iris_scale.head(5)

   Sepal Length  Sepal Width
0      0.222222     0.625000
1      0.166667     0.416667
2      0.111111     0.500000
3      0.083333     0.458333
4      0.194444     0.666667

Memetakan data ke dalam 5 *cluster*.

In [ ]:
km = KMeans(n_clusters=5)
y_predicted = km.fit_predict(Data_Iris[['sepal_length','sepal_width']])
y_predicted

array([2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 2, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 0, 0, 2, 2, 2, 0, 0, 2, 2, 2, 0, 0, 2, 0, 0, 2, 2, 0, 0, 2,
       2, 0, 2, 0, 2, 0, 1, 1, 1, 3, 1, 3, 1, 0, 1, 0, 0, 3, 3, 3, 3, 1,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3,
       3, 3, 3, 3, 3, 0, 3, 3, 3, 1, 0, 3, 1, 3, 4, 1, 1, 4, 0, 4, 1, 4,
       1, 1, 1, 3, 3, 1, 1, 4, 4, 3, 1, 3, 4, 1, 1, 4, 3, 3, 1, 4, 4, 4,
       1, 1, 3, 4, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 3], dtype=int32)

Menentukan nilai center/pusat dari 5 cluster yang sudah ditentukan sebelumnya.

In [ ]:
km.cluster_centers_

array([[4.77586207, 2.97241379],
       [6.54615385, 3.04615385],
       [5.25555556, 3.67037037],
       [5.83953488, 2.70930233],
       [7.475     , 3.125     ]])